<div class="backdrop" (click)="onClose()"></div>

<div class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <p class="modal-title">Receipt</p>
    </div>
    <div class="modal-body">
      <h2>Sale No .:.: 00102</h2>
      <p>Date: {{ dateAndTime }}</p>
      <div class="items">
        <div class="items-heading">
          <span class="numH">#</span>
          <span class="productH">Products</span>
          <span class="qtyH">Quantity</span>
          <span class="subTotalH">SubTotal</span>
        </div>
        <div class="items-content" *ngFor="let product of message.items; let i=index">
          <span class="numC">{{ i+1 }}</span>
          <span class="productC">{{ product.name }}</span>
          <span class="qtyC">{{ product.count }}</span>
          <span class="subTotalC">{{ formatNumber(product.count*product.price) }} INR</span>
        </div>
      </div>
      <div class="sep"></div>
      <div class="subtotal">
        <div class="total-items">
          <p>Total Items</p>
          <p>{{ message.count }}</p>
        </div>
        <div class="total-price">
          <p>Total</p>
          <p class="text-bold">{{ formatNumber(message.total) }} INR</p>
        </div>
      </div>
      <div class="sep"></div>
      <div class="discount">
        <p>Discount: <span class="text-bold">{{ formatNumber(message.discount) }}%</span></p>
      </div>
      <div class="sep"></div>
      <div class="vat">
        <p>VAT: <span class="text-bold">{{ formatNumber(message.tax) }}%</span></p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="closebtn" (click)="onClose()">Close</button>
    </div>
  </div>
</div>