
$main-bg-color: #ffffff;

.box {
  width: 100px;
  height: 110px;
  border-radius: 10px;
  float: left;
  margin: 6px 22px;
  position: relative;
}

.box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  transition: 0.3s ease;
  background-color: #008cba;
  border-radius: 10px;
  cursor: pointer;
}

.text {
  color: $main-bg-color;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.details {
  text-align: center;
  position: relative;
  opacity: 0;
  transition: .3s ease-in-out;
}

.box:hover .details {
  opacity: 1;
  transition: .3s ease-in-out;
}

.price {
  color: $main-bg-color;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: 40px;
  width: 100%;
}

.description {
  color: $main-bg-color;
  font-size: 9px;
  position: absolute;
  top: 61px;
  width: 100%;
}

ul li:nth-child(2n) .overlay {
  background: #EC407A;
} 

ul li:nth-child(2n + 5) .overlay {
  background: #27ae60;
} 

ul li:nth-child(3n + 5) .overlay {
  background: #c0392b;
} 