<div class="headings">
  <div class="icon"></div>
  <div class="product-heading"><p>Product</p></div>
  <div class="price-heading"><p>Price</p></div>
  <div class="qty-heading"><p>Quantity</p></div>
  <div class="total-heading"><p>Total</p></div>
</div>

<div class="product-items">
  <div class="no-data" *ngIf="cartList.length === 0">
    There are no products
  </div>
  <div class="product_list" *ngFor="let catrItem of cartList">
    <div class="icon">
      <p><i class="fa fa-times-circle" aria-hidden="true" (click)="removeItem(catrItem)"></i></p>
    </div>
    <div class="productH">
      <p>{{ catrItem.name }}</p>
    </div>
    <div class="priceH"><p>{{ formatNumber(catrItem.price) }}</p></div>
    <div class="qtyH">
      <p>
        <i class="fa fa-minus-square" aria-hidden="true" (click)="decrease(catrItem)"></i>
        <input type="number" value="{{ catrItem.count }}" readonly/>
        <i class="fa fa-plus-square" aria-hidden="true" (click)="increase(catrItem)"></i>
      </p>
    </div>
    <div class="totalH"><p>{{ formatNumber(catrItem.price * catrItem.count) }} INR</p></div>
  </div>
</div>

<div class="cart_details">
  <div class="cartrow">
    <div class="cleft">
      <p>Subtotal</p>
    </div>
    <div class="cright">
      <p>{{ cartList.length > 0 ? formatNumber(subtotal) : formatNumber(0.000) }} EUR</p>
      <p>{{ cartList.length }} items</p>
    </div>
  </div>
  <div class="cartrow">
    <div class="cleft">
      <p>VAT Tax</p>
    </div>
    <div class="cright">
      <p><input type="text" [(ngModel)]="taxPercentage" #taxPercentageRef>%</p>
      <p>{{ formatNumber(tax) }} EUR</p>
    </div>
  </div>
  <div class="cartrow">
    <div class="cleft">
      <p>Discount</p>
    </div>
    <div class="cright">
      <p><input type="text" [(ngModel)]="discountPercentage" #discountPercentageRef>%</p>
      <p>{{ formatNumber(discount) }} EUR</p>
    </div>
  </div>
  <div class="cartrow">
    <div class="cleft">
      <p>Total</p>
    </div>
    <div class="cright total">
      <p>{{ formatNumber(total) }} EUR</p>
      <p></p>
    </div>
  </div>
  <div class="cartrow">
    <button class="cancelbtm" (click)="reset()">CANCEL SALE</button>
    <button class="savebtm" (click)="processSale()" [disabled]="cartList.length < 1">PROCESS SALE</button>
  </div>
</div>

<app-receipt-modal [message]="receiptDetails" *ngIf="receiptDetails" (click)="onHandleClose()"></app-receipt-modal>