<div class="container">
  <div class="left">
    <div class="headings">
      <div class="icon"></div>
      <div class="product-heading"><p>Product</p></div>
      <div class="price-heading"><p>Price</p></div>
      <div class="qty-heading"><p>Quantity</p></div>
      <div class="total-heading"><p>Total</p></div>
    </div>

    <div class="product-items">
      <div class="no-data">
        There are no products
      </div>
      <div class="product_list">
        <div class="icon">
          <p><i class="fa fa-times-circle" aria-hidden="true"></i></p>
        </div>
        <div class="productH">
          <p>Sweater</p>
        </div>
        <div class="priceH"><p>2000</p></div>
        <div class="qtyH">
          <p>
            <i class="fa fa-minus-square" aria-hidden="true"></i>
            <input type="number" />
            <i class="fa fa-plus-square" aria-hidden="true"></i>
          </p>
        </div>
        <div class="totalH"><p>4000 INR</p></div>
      </div>
      <!-- <div class="product_list">
        <div class="productH">
          <p>
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            Sweater
          </p>
        </div>
        <div class="priceH"><p>2000</p></div>
        <div class="qtyH">
          <p>
            <i class="fa fa-minus-square" aria-hidden="true"></i>
            <input type="number" />
            <i class="fa fa-plus-square" aria-hidden="true"></i>
          </p>
        </div>
        <div class="totalH"><p>4000 INR</p></div>
      </div>
      <div class="product_list">
        <div class="productH">
          <p>
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            Sweater
          </p>
        </div>
        <div class="priceH"><p>2000</p></div>
        <div class="qtyH">
          <p>
            <i class="fa fa-minus-square" aria-hidden="true"></i>
            <input type="number" />
            <i class="fa fa-plus-square" aria-hidden="true"></i>
          </p>
        </div>
        <div class="totalH"><p>4000 INR</p></div>
      </div>
      <div class="product_list">
        <div class="productH">
          <p>
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            Sweater
          </p>
        </div>
        <div class="priceH"><p>2000</p></div>
        <div class="qtyH">
          <p>
            <i class="fa fa-minus-square" aria-hidden="true"></i>
            <input type="number" />
            <i class="fa fa-plus-square" aria-hidden="true"></i>
          </p>
        </div>
        <div class="totalH"><p>4000 INR</p></div>
      </div>
      <div class="product_list">
        <div class="productH">
          <p>
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            Sweater
          </p>
        </div>
        <div class="priceH"><p>2000</p></div>
        <div class="qtyH">
          <p>
            <i class="fa fa-minus-square" aria-hidden="true"></i>
            <input type="number" />
            <i class="fa fa-plus-square" aria-hidden="true"></i>
          </p>
        </div>
        <div class="totalH"><p>4000 INR</p></div>
      </div>
      <div class="product_list">
        <div class="productH">
          <p>
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            Sweater
          </p>
        </div>
        <div class="priceH"><p>2000</p></div>
        <div class="qtyH">
          <p>
            <i class="fa fa-minus-square" aria-hidden="true"></i>
            <input type="number" />
            <i class="fa fa-plus-square" aria-hidden="true"></i>
          </p>
        </div>
        <div class="totalH"><p>4000 INR</p></div>
      </div> -->
    </div>

    <div class="cart_details">
      <div class="cartrow">
        <div class="cleft">
          <p>Subtotal</p>
        </div>
        <div class="cright">
          <p>4000 EUR</p>
          <p>2 items</p>
        </div>
      </div>
      <div class="cartrow">
        <div class="cleft">
          <p>VAT Tax</p>
        </div>
        <div class="cright">
          <p>10%</p>
          <p>04.40 EUR</p>
        </div>
      </div>
      <div class="cartrow">
        <div class="cleft">
          <p>Discount</p>
        </div>
        <div class="cright">
          <p>10%</p>
          <p>0.40 EUR</p>
        </div>
      </div>
      <div class="cartrow">
        <div class="cleft">
          <p>Total</p>
        </div>
        <div class="cright">
          <p>4000 EUR</p>
          <p></p>
        </div>
      </div>
      <div class="cartrow">
        <button class="cancelbtm">CANCEL SALE</button>
        <button class="savebtm">PROCESS SALE</button>
      </div>
    </div>
  </div>

  <div class="right">
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <p class="text">Hello World</p>
        <div class="details">
          <p class="price">2,000 EUR</p>
          <p class="description">fashion, clothes , sweater, wool, cardigan</p>
        </div>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <div class="text">Computer</div>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/images/comuter.jpg" alt="" />
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
  </div>
</div>
