.container {
  width: 100%;
  display: flex;
}

.left {
  display: block;
  width: 40%;
  background-color: #eee;
  padding: 10px;
  margin: 5px;
  position: relative;
  min-height: 700px;
}

.right {
  display: block;
  width: 60%;
  background-color: #eee;
  padding: 10px;
  margin: 5px;
}


/** prodcut table **/

.no-data {
  background-color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 40px;
  font-size: 20px;
  border-radius: 5px;
}

.product-items {
  overflow-y: scroll;
  height: 350px;
  padding-bottom: 10px;
}
.headings,
.product_list {
  display: flex;
  width: 100%;
}

.product_list {
  background-color: #fff;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0px 1px 5px -3px rgba(0,0,0,.2);
}

.product-heading,
.price-heading,
.qty-heading,
.total-heading {
  text-transform: uppercase;
}

.icon {
  width: 5%;
}

.productH,
.product-heading {
  width: 35%;
}

.priceH,
.price-heading {
  width: 20%;
}

.qtyH,
.qty-heading {
  width: 20%;
  display: flex;
}

.totalH,
.total-heading {
  width: 20%;
}

.qtyH input {
  width: 30px;
  margin: 0 5px;
  border-radius: 3px;
  border: 1px solid #bbb;
  height: 20px;
  padding: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.product_list {
  overflow: auto;
}

.cart_details {
  bottom: 0;
  width: 97%;
  position: absolute;
}

.cartrow {
  width: 100%;
  display: flex;
  border-top: 1px solid #aaaaaa;
  line-height: .5;

  &:last-child {
    border-top: none;
  }
}

.cartrow .cleft {
  width: 40%;
  background-color: #efefef;
}

.cartrow .cright {
  width: 60%;
  background-color: #fff;
}

.cartrow .cright p:nth-child(1) {
  float: left;
}

.cartrow .cright p:nth-child(2) {
  float: right;
}

.cancelbtm {
  background-color: #e74c3c;
  color: #fff;
  padding: 15px;
  width: 49%;
  margin: 4% 2% 4% 0;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.savebtm {
  background-color: #27ae60;
  color: #fff;
  padding: 15px;
  width: 49%;
  margin: 4% 0 4% 2%;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.headings p, .product_list p, .cart_details p {
  padding: 0 10px;
}

i.fa {
  vertical-align: middle;
  font-size: 18px;
}

.fa.fa-times-circle {
  color: #e74c3c;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.fa.fa-times-circle:hover {
  color: #c0392b;
  transition: 0.3s ease-in-out;
}

.fa.fa-minus-square,
.fa.fa-plus-square {
  color: #dddddd;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.fa.fa-minus-square:hover, .fa.fa-plus-square:hover {
  color: #aaaaaa;
  transition: 0.3s ease-in-out;
}