.container {
  width: 100%;
  display: flex;
  min-height: 700px;
}

.left, .right {
  display: block;
  background-color: #eee;
  padding: 10px;
  margin: 5px;
  position: relative;
}

.left {
  width: 40%;
}

.right {
  width: 60%;
}
